//COLOR VARIABLES

$primary: #27ae60;
$primary-light: rgb(241, 243, 241);
$primary-light-1: #ddd;
$secondary: #2c2c54;
$tertiary: #666;
$bg-light: #eee;
$light: #fff;
$bg-color: #f3f3f3;
$color-gold: gold;

//FONT SIZE VARIABLES

$font-primary: 1.6rem;
